/vendor
/.idea
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
nbproject/
.idea
.idea
.idea/php.xml
.idea/workspace.xml
*.bat
UPLOADER/
bower_components/
desktop.ini
uploaded.lnk
uploaded
tests/_output/*
resources/views/main/test.blade.php
*.lnk
.idea/
.idea/php.xml
.idea/workspace.xml
