.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content {
    min-height: 500px;
    margin-left: 0;
    margin-right: 0;
}

/* ========= Logo ============================= */

.logo {
    display: inline !important;
    max-width: 32px;
    max-height: 32px;
    margin-top: -6px;
    margin-right: 5px;
}

.logo-text {
    display: inline;
    font-family: monospace;
    color: #ec4646 !important;
}

/* ========= Panel ============================ */

.panel-full-buttons .btn {
    width: 100%;
}

/* ========= Media ============================ */

$sidebar-width: 170px;

@media (min-width: 768px) {
    .side-nav, .side-nav>li>a {
        width: $sidebar-width;
    }
    
    #wrapper {
        padding-left: $sidebar-width;
    }
}